@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --dark:#0D0D2B;
    --white: #ffffff;
    --white-rgb: 255,255,255;
    --blue: #3671E9;
    --purple: #2B076E;
    --purple-rgb: 43, 7, 110;
}
body {
    background-color: var(--dark);
    color: var(--white);
    font-family: "Rubik", sans-serif;
}
.header {
    max-width: 1202px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

}
.nav-item {
    margin-left: 32px;
}
.nav-item-login {
    margin-left: 56px;
    padding-right: 24px;
    border-right: 1px solid rgba(242,242,242,0.3);
}
.nav-item-register {
    margin-left: 24px;
}
.nav-link {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s ease color;
}
.nav-link:hover {
    color: var(--blue);
}
.nav-item-login {
    font-weight: 500;
}
.nav-link-register {
    background-color: var(--blue);
    padding: 14px 32px;
    border-radius: 32px;
    font-weight: 500;
    transition: 0.2s ease background-color;
}
.nav-link-register:hover {
    color: var(--white);
    background-color: var(--purple);
}
.wrapper {
    max-width: 1202px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.main {
    display:flex;
    align-items: center;
    margin-top: 61px;
}
.main-text {
    flex: 0 0 600px;
}
.main-text_sale {
    background-color: rgba(var(--white-rgb),0.1);
    display: inline-block;
    padding: 10px 12px 10px 4px;
    border-radius: 32px;
    margin: 0;
}
.main-text_sale span {
    background-color: var(--white);
    color: var(--dark);
    padding: 6px 19px;
    border-radius: 32px;
    margin-right: 13px;
    font-weight: 500;
}
.main-text_title {
    font-size: 64px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
}
.main-text_description {
    color: #E0E0E0;
    line-height: 1.6;
    max-width: 400px;
    margin-bottom: 57px;
}
.main-text_link {
    color: var(--white);
    background-color: var(--blue);
    padding: 20px 30px;
    border-radius: 32px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease background-color;
}
.main-text_link:hover {
    color: var(--white);
    background-color: var(--purple);
}
.main-img {
    flex-grow: 1;
    width: 100%;
}
.main-img_image {
    width: 100%;
}
.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 196px;
}
.stat-item {
    display: flex;
    align-items: center;
}
.stat-item_text {
    color: #E0E0E0;
    margin: 0;
}
.stat-item_text span {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
}
.stat-item_icon {
    background-color: rgba(var(--white-rgb),0.1);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    flex: 0 0 80px;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
.stat-item_icon--01 {
    background-image: url(../images/icon01.svg);
}
.stat-item_icon--02 {
    background-image: url(../images/icon02.svg);
}
.stat-item_icon--03 {
    background-image: url(../images/icon03.svg);
}
.text {
    text-align: center;
    padding-bottom: 60px;
}
.text-title {
    font-size: 40px;
    font-weight: 700;
}
.text-description {
    color: #E0E0E0;
    font-size: 18px;
    line-height: 1.5;
    max-width: 630;
    margin: 0 auto;
}
.calc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFE;
    border-radius: 16px 16px 0 0;
    max-width: 942px;
    margin: 0 auto;
    padding: 47px 46px;
    box-sizing: border-box;
}
.calc-head_input {
    font-size: 20px;
    color: var(--dark);
    border: none;
    border-bottom: 1px solid #E0E0E0;
    flex-grow: 1;
    padding: 5px 0;
}
.calc-head_input::placeholder {
    color: var(--dark);
}
.calc-head_select {
    font-size: 20px;
    color: var(--dark);
    border: none;
    border-bottom: 1px solid #E0E0E0;
    flex: 0 0 200px;
    margin-right: 48px;
    margin-left: 48px;
    appearance: none;
    background-image: url(../images/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: 98% 18px;
    padding: 12px 0;
}
.calc-head_btn{
    font-size: 18px;
    color: var(--white);
    background-color: var(--blue);
    padding: 19px 20px;
    border-radius: 32px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease background-color;
    border: none;
    flex: 0 0 146;
}
.calc-head_btn:hover {
    background-color: var(--purple);
}
.page-light {
    background-color: #F8F9FB;
    color: var(--dark);
    padding-bottom: 100px;
}
.page-light_title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    max-width: 741px;
    margin: 0 auto;
    line-height: 1.5;
}
.calc-foot {
    max-width: 942px;
    margin: 0 auto;
    padding: 53px 46px;
    background-color: var(--white);
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;
    margin-bottom: 105px;
}
.calc-foot_title {
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    margin: 0;
}
.calc-foot_total {
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 14px;
}
.calc-foot_total span {
    color: var(--blue);
}
.calc-foot_description {
    font-size: 16px;
    color: #828282;
    margin: 0;
}
.crypto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-top: 57px;
}
.crypto-item {
    background-color: var(--white);
    color: var(--dark);
    border-radius: 16px;
    flex: 0 0 31%;
    padding: 52px 30px 47px;
    box-sizing: border-box;
    transition: 0.2s ease background-color, 0.2s ease color;
}
.crypto-item:hover {
    background-color: var(--purple);
    color: var(--white);
}
.crypto-item_title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 47px;
    margin-bottom: 21px;
}
.crypto-item_title sup {
    font-size: 18px;
    font-weight: 500;
    color: #bdbdbd;
}
.crypto-item_description {
    font-size: 16px;
    color: #828282;
    line-height: 1.7;
    margin-bottom: 25px;
}
.crypto-item:hover .crypto-item_description {
    color: var(--white);
    transition: 0.2s ease color;
}
.crypto-item_btn {
    background-color: var(--white);
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    border-radius: 32px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 205px;
    margin: 0 auto;
    transition: 0.2s ease background-color;
}
.crypto-item:hover .crypto-item_btn {
    background-color: var(--blue);
}
.crypto-item_btn-text {
    font-size: 18px;
    font-weight: 500;
    width: 0;
    transition: 0.2s ease width;
}
.crypto-item:hover .crypto-item_btn-text {
    width: 133px;
}
.crypto-item_btn-icon {
    background-color: var(--white);
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 100%;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid  rgba(var(--purple-rgb), 0.2);
    transform: scale(1);
    transition: 0.2s ease border, 0.2s ease transform;
}
.crypto-item:hover .crypto-item_btn-icon {
    border: 2px solid  var(--white);
    transform: scale(0.5);
}
.page-gradient {
    background: linear-gradient(180deg, var(--purple) 0%, var(--dark) 100%);
    padding-top: 88px;
    padding-bottom: 88px;
}
.form {
    background-color: var(--blue);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 54px 50px;
}
.form-text {
    flex-grow: 1;
}
.form-text_title {
    margin-top: 0;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 27px;
}
.form-text_description {
    font-size: 16px;
    margin-bottom: 0;
    max-width: 348px;
    line-height: 1.5;
}
.form-letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 566px;
}
.form-letter_input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    width: 100%;
    margin-right: 40px;
    padding: 10px 0;
}
.form-letter_input::placeholder {
    color: var(--white);
}
.form-letter_btn {
    border: none;
    background-color: var(--white);
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    padding: 18px 32px;
    border-radius: 32px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1202px;
    margin: 0 auto;
    padding-bottom: 60px 15px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.footer-list_item {
    margin-left: 32px;
}
.footer-list_item:first-child {
    margin-left: 0;
}